@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: work-sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* preset */
.layout-container {
  @apply w-[100vw] min-h-[80px] pt-28 relative;
}

.layout {
  @apply w-[90%] max-w-[1280px] mx-auto;
}

.bg-blur {
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 768px) {
  .layout {
    width: 95%;
  }
}

@media screen and (min-width: 1024px) {
  .layout {
    width: 100%;
  }
}
